.timer {
    text-align: center;
}

input[type="text"] {
    width: 350px;
    height: 150px;
    margin: 10px;
    text-align: center;
    border: 1px solid purple;
    border-radius: 10px;
    font-size: 70px;
}

.container {
    border: 1px solid lightgray;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
